<!DOCTYPE html>
{# extends "layout.html" #}

{% block navbar %}
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle=
        "collapse" data-target=
        "#bs-example-navbar-collapse-1"><span class=
    "sr-only">Toggle navigation</span></button><li class="active"> <a class=
    "navbar-brand" href="/main">Lunch</a></li>
      </div>
      <div class="collapse navbar-collapse" id=
      "bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
    {% if page_name == "Users"%}
    <li class="active">
    {% else %}
    <li>
    {% endif %}
            <a href="/users">Users</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="/login">Logout</a>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
{% endblock %}
